---
layout: page
title: Our boys
permalink: /our-kids/boys/
---

<section class="our-kids">
    <div class="header">
         <div class="container">
             <h1>OUR BOYS</h1>
             <p><em>We have {{ site.categories.boys | size }} boys, ranging from the age of 13-18. They have grown up with us for several years. We are thankful to have witnessed them grow and mature into strong young girls who aspire to pursue diverse careers. As they graduate high school and move into college we seek your help in allowing them to pursue their dreams and aspirations and be a light in the community.</em></p>
         </div>
    </div>
    
    <div class="kids-belt cf">

        <div class="kids--wrapper">
            <div class="container">
                <div class="kids">
                {% for post in site.posts %}
                    {% if post.categories contains 'boys' %}
                    <a class="kid" href="javascript:void(0)" style="background-image: url({{ post.image }})">
                        <div class="kid-unit--overlay">
                            <p>{{ post.title }}</p>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}        
                </div>
            </div>
        </div>

        <div class="profile--wrapper">
            <div class="container">
                <div class="return">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 40 40"><path d="M 22.896 29.125 c -0.256 0 -0.512 -0.098 -0.707 -0.293 l -8.125 -8.125 c -0.391 -0.391 -0.391 -1.023 0 -1.414 l 8.125 -8.125 c 0.391 -0.391 1.023 -0.391 1.414 0 s 0.391 1.023 0 1.414 l -7.418 7.418 l 7.417 7.418 c 0.391 0.391 0.391 1.023 0 1.414 c -0.195 0.195 -0.451 0.293 -0.706 0.293 Z M 20 6 c 7.72 0 14 6.28 14 14 s -6.28 14 -14 14 s -14 -6.28 -14 -14 s 6.28 -14 14 -14 m 0 -2 c -8.837 0 -16 7.163 -16 16 s 7.163 16 16 16 s 16 -7.163 16 -16 s -7.163 -16 -16 -16 Z" /></svg>
                </div>
                {% for post in site.posts %}
                    {% if post.categories contains 'boys' %}
                        <div class="profile">
                            <div class="left">
                                <div class="profile--avatar">
                                    <img class="" src="{{ post.image }}" alt="{{ post.title }}">
                                </div>
                            </div>
                            <div class="right">
                                <h2>{{ post.title }}</h2>
                                {{ post.content }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}     
            </div>
        </div>
    </div>

</section>