<footer>
    <div class="container">
        <div class="footer-contents">
            <div class="contact-info">
                    <div><small>Call us today</small><br><small>+91-9873647223</small></div>
                    <div><small>International rates may apply</small></div>
            </div>
            <div class="address">
                <small>
                    Address:<br>
                    390 Sector 21C<br>
                    Faridabad, Haryana 121001
                </small>
            </div>
            <div class="social">
                <div><small>Visit our Church</small></div>
                <div>
                    <p>
                        <a href="{{ site.facebook }}"><img src="{{ site.baseurl | prepend: site.url }}/assets/images/icons/icon--fb.png" width="30" alt=""></a>
                        <a href="{{ site.twitter }}"><img src="{{ site.baseurl | prepend: site.url }}/assets/images/icons/icon--twitter.png" width="30" alt=""></a>
                        <a href="{{ site.website }}"><img src="{{ site.baseurl | prepend: site.url }}/assets/images/icons/icon--wb.png" width="30" alt=""></a>
                        <a href="{{ site.youtube }}"><img src="{{ site.baseurl | prepend: site.url }}/assets/images/icons/icon--yt.png" width="30" alt=""></a>
                    </p>
                </div>
            </div>
            <div class="grace-logo">
                <img src="{{ site.baseurl | prepend: site.url }}/assets/images/grace-logo.png" alt="" width="120">
            </div>
        </div>
        <div class="footer-credits">
            <p><small>&copy; 2018 Grace Assembly of God Church. All rights reserved.</small></p>
        </div>
    </div>
</footer>