<header>
    <div class="container">
        <div class="logo">
            <img src="{{ site.baseurl | prepend: site.url }}/assets/images/logo.png" alt="">
            <div class="logo-text">
                <span class="line-one">KARUNA</span><br><span class="line-two">CHILDREN'S HOME</span>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl | prepend: site.url }}/">WELCOME</a></li>
                <li>
                    <a href="javascript:void(0)">OUR KIDS</a>
                    <ul>
                        <a href="{{ site.baseurl | prepend: site.url }}/our-kids/girls">OUR GIRLS</a>
                        <a href="{{ site.baseurl | prepend: site.url }}/our-kids/boys">OUR BOYS</a>
                    </ul>
                </li>
                            <li><a href="{{ site.baseurl | prepend: site.url }}/support">SUPPORT</a></li>
                            <li><a href="{{ site.baseurl | prepend: site.url }}/visit-us">VISIT US</a></li>
                            <li><a href="{{ site.baseurl | prepend: site.url }}/location">LOCATION</a></li>
            </ul>
        </nav>
    </div>
</header>
